/TestProcessStart/nbproject/private/
/TestProcessStart/build/
/TestProcessStart/dist/
/EjercicioUT1/dist/
/OtroEjercicioUT1/build/
/UT1Ej4Padre/dist/
/UT1Ej3/dist/
/Juejuejue/nbproject/private/
/TestPlanificacionHilos/nbproject/private/
/TestPlanificacionHilos/build/
/UT2Ej1/nbproject/private/
/UT2Ej1/build/
/UT2Ej2/nbproject/private/
/UT2Ej2/build/
/UT2Ej3/nbproject/private/
/UT2Ej3/build/
/UT2Ej4/nbproject/private/
/UT2Ej4/build/
/UT2Ej6/nbproject/private/
/UT2Ej6/build/
/RxJava/nbproject/private/
/RxJava/build/
/RxJava/dist/
/ThreadExtendsTest/nbproject/private/
/ThreadExtendsTest/build/
/ChouUT1Ej1/nbproject/private/
/ChouUT1Ej1/build/
/Examen Procesos/nbproject/private/
/EjUT2_2/nbproject/private/
/EjemploSem/nbproject/private/
/EjemploSem/build/
/EjUT2_2/build/
/SocketTest/nbproject/private/
/EjUT3/nbproject/private/
/SocketTest/build/
/SocketTest/dist/
/EjUT3/build/
/Chat/nbproject/private/
/Chat/build/
/FTP/nbproject/private/
/FTP/build/
/Chat1/nbproject/private/
/Chat1/build/
/EjercicioFTP1/nbproject/private/
/EjercicioFTP1/build/